# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Kubernetes runtime junk
.kube/
*.log

# Terraform (if any)
.terraform/
*.tfstate
*.tfstate.backup

# Jenkins runtime (NEVER commit)
jenkins_home/
backups/
*.tgz

# Helm cache
.cache/
charts/

# Secrets
*.pem
*.key
*.crt
.env

# Local-only jenkins ingress variants
infra/jenkins/ingress-http.yaml
infra/jenkins/ingress-https.yaml
