ports:
  web:
    port: 80
    expose:
      enabled: true
    exposedPort: 80
    nodePort: 30080
    protocol: TCP

  websecure:
    port: 443
    expose:
      enabled: true
    exposedPort: 443
    nodePort: 30443
    protocol: TCP
    tls:
      enabled: true

service:
  type: NodePort

additionalArguments:
  - "--entrypoints.web.address=:80"
  - "--entrypoints.websecure.address=:443"
