apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: gitops
spec:
  project: default

  source:
    repoURL: https://github.com/theradheshyampatil/micro-gitops-platform-gitops.git
    targetRevision: main
    path: infra/monitoring

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
