apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: 908692150527.dkr.ecr.ap-south-1.amazonaws.com/order-service:3
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
