apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
<<<<<<< HEAD
          image: 908692150527.dkr.ecr.ap-south-1.amazonaws.com/user-service:999
=======
          image: 908692150527.dkr.ecr.ap-south-1.amazonaws.com/user-service:6
>>>>>>> parent of 2682ef3 (test: break user-service deployment)
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
