apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: apps
spec:
  replicas: 1   # cost-controlled
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: 908692150527.dkr.ecr.ap-south-1.amazonaws.com/product-service:5
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
